<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Список студентов</title>
</head>
<body>
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Last Name</th>
        </tr>
        <tr th:each="s : ${students}">
            <td th:text="${s.id}"></td>
            <td th:text="${s.name}"></td>
            <td th:text="${s.lastName}"></td>
        </tr>
    </table>
    <h3>Добавление нового студента в базу данных</h3>
    <form action="/addStudents" method="post">
        Name: <input type="text" name="name"><br />
        Last Name: <input type="text" name="lastName"><br />
        <button type="submit">Add student</button>
    </form>
    <h3>Удаление студента</h3>
    <form action="/delStudents" method="get">
        ID: <input type="number" name="id">
        <button type="submit">Delete student</button>
    </form>
</body>
</html>